@import './base.css';

#app {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrolling */
}

.poppins-regular {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}
i {
  cursor: pointer !important;
  filter: brightness(1);
  transition: 0.2s ease-in-out;
}

i:hover {
  filter: brightness(0.8);
  transform: translateY(-2px);
}

.main-bg {
  background-color: #121212;
}

.logo-font {
  font-family: 'Style Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.my-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.circle {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  object-fit: cover;
  object-position: center;
}
